In [54]:
import pandas as pd
import time
import numpy as np

In [14]:
# coding=utf-8
# names=["数据key", "汽车id", "开始时间", "结束时间", "开始纬度", 
#                  "开始经度", "结束纬度", "结束经度"],
df = pd.read_csv('data/train.csv',  sep=",", low_memory=False)
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>r_key</th>
      <th>out_id</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>start_lat</th>
      <th>start_lon</th>
      <th>end_lat</th>
      <th>end_lon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05</td>
      <td>2016061820000b</td>
      <td>2018-01-20 10:13:43</td>
      <td>2018-01-20 10:19:04</td>
      <td>33.783415</td>
      <td>111.603660</td>
      <td>33.779811</td>
      <td>111.605885</td>
    </tr>
    <tr>
      <th>1</th>
      <td>SDK-XJ_4c2f29d94c9478623711756e4ae34cc5</td>
      <td>2016061820000b</td>
      <td>2018-02-12 17:40:51</td>
      <td>2018-02-12 17:58:13</td>
      <td>34.810763</td>
      <td>115.549264</td>
      <td>34.814875</td>
      <td>115.549374</td>
    </tr>
    <tr>
      <th>2</th>
      <td>SDK-XJ_3570183177536a575b9da67a86efcd62</td>
      <td>2016061820000b</td>
      <td>2018-02-13 14:52:24</td>
      <td>2018-02-13 15:24:33</td>
      <td>34.640284</td>
      <td>115.539024</td>
      <td>34.813136</td>
      <td>115.559243</td>
    </tr>
    <tr>
      <th>3</th>
      <td>SDK-XJ_78d749a376e190685716a51a6704010b</td>
      <td>2016061820000b</td>
      <td>2018-02-13 17:23:08</td>
      <td>2018-02-13 17:39:02</td>
      <td>34.818280</td>
      <td>115.542039</td>
      <td>34.813141</td>
      <td>115.559217</td>
    </tr>
    <tr>
      <th>4</th>
      <td>SDK-XJ_3b249941c27834f5e43d43a9114e4909</td>
      <td>2016061820000b</td>
      <td>2018-02-13 18:06:02</td>
      <td>2018-02-13 19:02:51</td>
      <td>34.813278</td>
      <td>115.559260</td>
      <td>34.786126</td>
      <td>115.874361</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
# coding=utf-8
# 查看是否有重复数据  ——》无
df[df.duplicated()]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>r_key</th>
      <th>out_id</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>start_lat</th>
      <th>start_lon</th>
      <th>end_lat</th>
      <th>end_lon</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [30]:
# coding=utf-8
# 查看是否有Nah数据 ——》无
df[df.isnull().values == True]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>r_key</th>
      <th>out_id</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>start_lat</th>
      <th>start_lon</th>
      <th>end_lat</th>
      <th>end_lon</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [32]:
for i in list(df.columns):
    if df[i].dtype == object:
        print(i)

r_key
out_id
start_time
end_time

In [35]:
df0 = df.copy()

In [48]:
# coding=utf-8
# 时间转换为时间戳格式
df0['start_time'] = df['start_time'].apply(lambda x: time.mktime(time.strptime(x, '%Y-%m-%d %H:%M:%S'))).astype(int)

df0['end_time'] = df['end_time'].apply(lambda x: time.mktime(time.strptime(x, "%Y-%m-%d %H:%M:%S"))).astype(int)

In [49]:
df0.tail

<bound method NDFrame.tail of                                            r_key                 out_id  \
0        SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05         2016061820000b
1        SDK-XJ_4c2f29d94c9478623711756e4ae34cc5         2016061820000b
2        SDK-XJ_3570183177536a575b9da67a86efcd62         2016061820000b
3        SDK-XJ_78d749a376e190685716a51a6704010b         2016061820000b
4        SDK-XJ_3b249941c27834f5e43d43a9114e4909         2016061820000b
5        SDK-XJ_9fd451509b05ecc54e641878a13baea8         2016061820000b
6        SDK-XJ_ca29f7fd306c47a407e4ab5aed21e7fb         2016061820000b
7        SDK-XJ_651f34259082f6b78f675357bf0200d1         2016061820000b
8        SDK-XJ_4566f3f45f4df155319c66de13d59936         2016061820000b
9        SDK-XJ_349990ffb6274fbf07dbe869762cf8ea         2016061820000b
10       SDK-XJ_e46d139870dbad549b3ec5bbc9a27498         2016061820000b
11       SDK-XJ_7a26b5d09e8a18097e6c31372f6d37cf         2016061820000b
12       SDK-XJ_a501de58288bf86dffe1e4e604cacb4f         2016061820000b
13       SDK-XJ_51e6976e8243c404d862c202fb7e81b1         2016061820000b
14       SDK-XJ_c8fff2a5bfa81bdf48a4225eab13b77b         2016061820000b
15       SDK-XJ_9ec264eaab1e516757243cd5eee913c0         2016061820000b
16       SDK-XJ_125adc4151bd23e98b91237316392bfb         2016061820000b
17       SDK-XJ_199e2214d3fd59d9059aee2875f6d50b         2016061820000b
18       SDK-XJ_bdcfed11ecbadd1e9226f0b8e88b9aca         2016061820000b
19       SDK-XJ_bd01cb89f3ab256865f497f3ad8d6c3d         2016061820000b
20       SDK-XJ_0180b7544f70e061a64db844fc599a37         2016061820000b
21       SDK-XJ_54766baf007f64b863bf0ebc8bc29c40         2016061820000b
22       SDK-XJ_ec1c10d30589f4e4ffb9541915e40e89         2016061820000b
23       SDK-XJ_948510a0220b38df1de5e17d4f9a4514         2016061820000b
24       SDK-XJ_410cefafd90340217d58ce2b85d77c95         2016061820000b
25       SDK-XJ_bc04090e5fe19945623d70b51186ccd5         2016061820000b
26       SDK-XJ_fa78d4ff7cc97bf37513ba3262ec03e4         2016061820000b
27       SDK-XJ_8d0701c27b3432da93c4c53153283e5f         2016061820000b
28       SDK-XJ_f74edb54343fa030c6308c942740a439         2016061820000b
29       SDK-XJ_67b307f8e1bd7ac5e76ee52c75911250         2016061820000b
...                                          ...                    ...
1448291  SDK-XJ_c6669facda3cf4ad13d308066d70f391  CT910M01E2AA08GG00270
1448292  SDK-XJ_2aafbc7ecf5c91ec647db08a50d6ede6  CT910M01E2AA08GG00270
1448293  SDK-XJ_b7ed4480ed840cceb3067cd549782879  CT910M01E2AA08GG00270
1448294  SDK-XJ_12bbe67bcf00db6b1711997c254ec96b  CT910M01E2AA08GG00270
1448295  SDK-XJ_a08a703e4024d3fd366a2fbdc1e0bd93  CT910M01E2AA08GG00270
1448296  SDK-XJ_2038ba51780f03d5d504cdb194c91cae  CT910M01E2AA08GG00270
1448297  SDK-XJ_d79b81922baf7101b6fac1a32c78c07f  CT910M01E2AA08GG00270
1448298  SDK-XJ_f070628b30104207f09599197ad77b61  CT910M01E2AA08GG00270
1448299  SDK-XJ_aab8bd212d03783d1853c1c6fa38ee6f  CT910M01E2AA08GG00270
1448300  SDK-XJ_20c31a946a61d5e38a5e9f11b39fb0c2  CT910M01E2AA08GG00270
1448301  SDK-XJ_7ee0263601f01b08ab79e3daac2e984b  CT910M01E2AA08GG00270
1448302  SDK-XJ_d02f67441cc39ccbf84bf062a894d932  CT910M01E2AA08GG00270
1448303  SDK-XJ_18929f91997eddd263922b58a0136591  CT910M01E2AA08GG00270
1448304  SDK-XJ_2e3a9178277fd4ab332fc957eae33529  CT910M01E2AA08GG00270
1448305  SDK-XJ_c0623d32cf1d653b56eb33bafe93eb28  CT910M01E2AA08GG00270
1448306  SDK-XJ_a8f44049acf6a3383d9a2a63dc0669e7  CT910M01E2AA08GG00270
1448307  SDK-XJ_b71b60caf3701ab849021162045a9c3d  CT910M01E2AA08GG00270
1448308  SDK-XJ_4519a58f2bd6bdc3ad6f10d238ee1632  CT910M01E2AA08GG00270
1448309  SDK-XJ_2798f9b1e5bf61b1fd01262cd83ddd62  CT910M01E2AA08GG00270
1448310  SDK-XJ_24db98afb0a9d153282a5f35b7784801  CT910M01E2AA08GG00270
1448311  SDK-XJ_4b8c7282b49171f4fe159f09f85b28ca  CT910M01E2AA08GG00270
1448312  SDK-XJ_f51092275768b2d57d7316c03384067c  CT910M01E2AA08GG00270
1448313  SDK-XJ_1324693870acbaf6295d4f75540ae6c0  CT910M01E2AA08GG00270
1448314  SDK-XJ_f765e9a0468cfdde51741bf6e94012b7  CT910M01E2AA08GG00270
1448315  SDK-XJ_4542f32bc4994c8b069dba874a5100a6  CT910M01E2AA08GG00270
1448316  SDK-XJ_0ab48848d0be23ff7fd769e7a249ea57  CT910M01E2AA08GG00270
1448317  SDK-XJ_3bf201b19f8375f01aa30633b7ab7abf  CT910M01E2AA08GG00270
1448318  SDK-XJ_667dfa76cf0c03562d1a5ea3a269c911  CT910M01E2AA08GG00270
1448319  SDK-XJ_cca22189510598304ea63910e392d9d3  CT910M01E2AA08GG00270
1448320  SDK-XJ_2437f2ea56656b130d131c598351533d  CT910M01E2AA08GG00270

         start_time    end_time  start_lat   start_lon    end_lat     end_lon
0        1516414423  1516414744  33.783415  111.603660  33.779811  111.605885
1        1518428451  1518429493  34.810763  115.549264  34.814875  115.549374
2        1518504744  1518506673  34.640284  115.539024  34.813136  115.559243
3        1518513788  1518514742  34.818280  115.542039  34.813141  115.559217
4        1518516362  1518519771  34.813278  115.559260  34.786126  115.874361
5        1518526716  1518530318  34.785990  115.874259  34.813162  115.559195
6        1518569642  1518571367  34.812824  115.559272  34.641016  115.536066
7        1518762803  1518769167  34.803362  115.839409  35.822282  116.367214
8        1518770036  1518777296  35.822863  116.367453  36.845625  117.209663
9        1518849690  1518858731  36.204509  116.459742  34.786001  115.874430
10       1518871699  1518873375  34.817747  115.741368  34.812996  115.559230
11       1519008364  1519012378  34.812103  115.561866  34.799399  115.906429
12       1519039304  1519040917  35.514316  111.326468  35.621820  111.384703
13       1519123984  1519124621  35.532994  111.346037  35.533458  111.345910
14       1519209132  1519210186  35.533424  111.346057  35.533250  111.345940
15       1519271177  1519272359  35.512279  111.330757  35.533435  111.345904
16       1519270986  1519272562  34.640028  115.545866  34.813235  115.559218
17       1519284764  1519286618  35.533492  111.345892  35.533293  111.345881
18       1519293340  1519295415  34.855628  115.560680  34.813223  115.559226
19       1519368043  1519369167  34.818474  115.554576  34.823667  115.541727
20       1519376693  1519379357  34.823534  115.541954  34.829787  115.567187
21       1519380496  1519383748  34.829791  115.567352  34.785981  115.874444
22       1519384757  1519385270  34.786183  115.874436  34.800156  115.905011
23       1519386673  1519386825  34.800144  115.905588  34.805824  115.906495
24       1519388405  1519388511  34.805705  115.906523  34.800136  115.905058
25       1519393678  1519394242  34.799920  115.904802  34.786083  115.874331
26       1519395805  1519398394  34.785956  115.874230  34.813144  115.559183
27       1519431777  1519433512  34.812832  115.559228  34.640971  115.536020
28       1519458807  1519461052  34.640361  115.536748  34.813186  115.559200
29       1519604152  1519605980  34.813406  115.559054  34.641035  115.536002
...             ...         ...        ...         ...        ...         ...
1448291  1525564432  1525566081  30.782011  104.040387  30.690514  103.874212
1448292  1525566986  1525567607  30.690233  103.874403  30.677513  103.880373
1448293  1525568997  1525570029  30.677277  103.879091  30.672014  103.927265
1448294  1525585963  1525589940  30.637657  104.031530  30.974319  103.627363
1448295  1525602269  1525603172  30.975537  103.630803  30.971488  103.622333
1448296  1525648671  1525648934  30.971946  103.623846  30.987644  103.623353
1448297  1525685551  1525685784  30.987753  103.623411  30.984881  103.621657
1448298  1525687942  1525688301  30.984589  103.621124  30.972000  103.623437
1448299  1525736395  1525736913  30.972167  103.623844  30.988044  103.623470
1448300  1525771372  1525771493  30.987854  103.623400  30.984787  103.621618
1448301  1525774877  1525776024  30.984374  103.622292  30.970663  103.623203
1448302  1525822791  1525823240  30.972187  103.623888  30.987814  103.623896
1448303  1525858418  1525858754  30.987781  103.623363  30.973012  103.625788
1448304  1525908921  1525909404  30.971541  103.623535  30.987924  103.624165
1448305  1525944984  1525945445  30.987634  103.623904  30.984917  103.621577
1448306  1525949656  1525950016  30.984869  103.621636  30.972496  103.624601
1448307  1526092970  1526093110  30.972676  103.624253  30.973674  103.629484
1448308  1526093816  1526095116  30.973870  103.629798  30.987928  103.645762
1448309  1526098189  1526099325  30.988111  103.646177  30.961922  103.619907
1448310  1526427806  1526428152  30.972118  103.623782  30.987725  103.623646
1448311  1527205366  1527205753  30.974395  103.627686  30.987861  103.624292
1448312  1527401224  1527401901  31.085487  103.643792  31.108951  103.653617
1448313  1527684064  1527684729  30.975268  103.655205  30.972112  103.624941
1448314  1528631450  1528632776  30.977730  103.554774  30.967163  103.624130
1448315  1528674612  1528675036  30.973813  103.626661  30.987785  103.623647
1448316  1529019920  1529020195  30.972576  103.624179  30.985120  103.625358
1448317  1529154615  1529155336  30.975319  103.655751  30.972507  103.624707
1448318  1530344672  1530346151  30.973927  103.626934  30.983653  103.661710
1448319  1532383916  1532388552  30.971599  103.622886  30.644619  104.063575
1448320  1532403749  1532411609  30.644606  104.063485  30.993721  103.654951

[1448321 rows x 8 columns]>

In [57]:
df0.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>start_time</th>
      <th>end_time</th>
      <th>start_lat</th>
      <th>start_lon</th>
      <th>end_lat</th>
      <th>end_lon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1.448321e+06</td>
      <td>1.448321e+06</td>
      <td>1.448321e+06</td>
      <td>1.448321e+06</td>
      <td>1.448321e+06</td>
      <td>1.448321e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.523550e+09</td>
      <td>1.523551e+09</td>
      <td>3.207913e+01</td>
      <td>1.113910e+02</td>
      <td>3.207913e+01</td>
      <td>1.113911e+02</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.051068e+06</td>
      <td>5.051058e+06</td>
      <td>5.695923e+00</td>
      <td>8.639421e+00</td>
      <td>5.696070e+00</td>
      <td>8.639478e+00</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.514736e+09</td>
      <td>1.514736e+09</td>
      <td>1.822293e+01</td>
      <td>7.503050e+01</td>
      <td>1.822155e+01</td>
      <td>7.502920e+01</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.519206e+09</td>
      <td>1.519208e+09</td>
      <td>2.807496e+01</td>
      <td>1.056605e+02</td>
      <td>2.807619e+01</td>
      <td>1.056604e+02</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.523397e+09</td>
      <td>1.523399e+09</td>
      <td>3.129756e+01</td>
      <td>1.132586e+02</td>
      <td>3.129844e+01</td>
      <td>1.132590e+02</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.527809e+09</td>
      <td>1.527810e+09</td>
      <td>3.655213e+01</td>
      <td>1.182059e+02</td>
      <td>3.655225e+01</td>
      <td>1.182069e+02</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.533056e+09</td>
      <td>1.533056e+09</td>
      <td>4.974639e+01</td>
      <td>1.347535e+02</td>
      <td>4.974532e+01</td>
      <td>1.347377e+02</td>
    </tr>
  </tbody>
</table>
</div>

In [59]:
df1 = df0.copy()

In [60]:
df1['drive_time'] = df0.end_time - df0.start_time

In [65]:
df1.drop(['start_time', 'end_time'], axis=1, inplace=True)
df1.tail

KeyError: "['start_time' 'end_time'] not found in axis"

In [ ]:
# group
df0.groupby(by='out_id')['']